<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=, initial-scale=1.0' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='stylesheet' href='css/style.css' />
		<script src='https://kit.fontawesome.com/74e47267c3.js' crossorigin='anonymous'></script>
		<link
			rel='stylesheet'
			href="'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,200&display=swap'"
		/>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;500;600;700;800&display=swap'
			rel='stylesheet'
		/>
		<title>Klarna-intro</title>
	</head>

	<body>

		<div class='container'>
			<h1 id='raleway'>Welcome!</h1>
			<div class='me-container'>
				<div class='img-container'>
					<img class='hero' src='/img/27750845_10214295562854851_515488669860550051_n.jpg' alt='me' />

				</div>
				<div class='header'><h3>My name is Filip Windahl and i'am a junior webb developer
						<br />
						and i have used backend to build a Klarna Checkout with fake store API!</h3></div>
			</div>
			<p class='info'>
				How to proceed with the Klarna checkout?</p>
			<p class='description'>
				So there are six different choices,
				<br />
				depending on which shopping cart you would like
				<br />
				to check out with.<br />
				All are the same process,<br />
				but different items in the carts.</p>

			<div class='arrow'>
				<span></span>

			</div>
			<div class='link-container'>

				<button class='btn'><a
						class='links'
						href='https://klarna-checkout-filip.herokuapp.com/cart-checkout/1'
					><p>Shopping cart 1</p></a></button>

				<button class='btn'><a
						class='links'
						href='https://klarna-checkout-filip.herokuapp.com/cart-checkout/2'
					><p>Shopping cart 2</p></a></button>

				<button class='btn'><a
						class='links'
						href='https://klarna-checkout-filip.herokuapp.com/cart-checkout/3'
					><p>Shopping cart 3</p></a></button>
				<button class='btn'><a
						class='links'
						href='https://klarna-checkout-filip.herokuapp.com/cart-checkout/4'
					><p>Shopping cart 4</p></a></button>
				<button class='btn'><a
						class='links'
						href='https://klarna-checkout-filip.herokuapp.com/cart-checkout/5'
					><p>Shopping cart 5</p></a></button>
				<button class='btn'><a
						class='links'
						href='https://klarna-checkout-filip.herokuapp.com/cart-checkout/6'
					><p>Shopping cart 6</p></a></button>
			</div>
		</div>
		<div class='gif-container'><iframe
				class='klarna-gif'
				src='https://docs.klarna.com/assets/media/647d2345-d645-4928-8238-95f56bf7d3ee/compressed/HPP_distribution-module-self-checkout.gif'
				frameborder=''
			></iframe>
		</div>
		<div class='footer'>
			<div>filipwindahl@hotmail.com</div>
		</div>

	</body>
</html>