<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/public/img/klarna-favicon-76x76.png" sizes="76x76">
    <link rel="icon" type="image/png" href="/public/img/klarna-favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    {{{body}}}
</body>

</html>